<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
</head>
<body>
  <h1>Huntley High School Clubs</h1>
  <input id="searchbar" type="text"
        name="search" placeholder= "Search clubs...">
  <ol id='ClubList'>
    <li><a href="../templates/fbla.html" id="fbla"> FBLA</a></li>
    <li><a href="../templates/nhs.html" id="NHS button"> NHS</a></li>
</ol>

<p> 
  Hello, {{name}} 
  Click on the search bar above to search for clubs</p>

<div class="topnav">
  </div>
</body>
</html>



<!--
    <!DOCTYPE html>
<html>
<head>
    <title>My Flask App</title>
</head>
<body>
    <h1>Hello World!</h1>
</body>
</html>
-->