body {
    background-color: #212d47;
}

#title {
    font-size: 35px; 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(255, 255, 255);
}

#memorium {
    font-size: 10px;
    position:absolute;
    top: 330px;
    width: 600px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;

}

#aboutme{
    font-size: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
}

#description{
    font-size: 12px;
    margin-top: -20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
}

#gallery{
    font-size: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
}



#navBar {
    width: 1400px;
    background-color: rgb(2, 13, 37);
    position: relative;
    height: 50px;

}

#homeButton, #soccerPage {
    text-decoration: none;
    color: white;
    border: 2px solid;
    padding: 5px;
    background-color: gray;
}

#soccerPage {
    left: 100px;
}



#homeButton:hover, #soccerPage:hover {
    background-color: #51516b;
    color: rgb(43, 42, 42);
}

#soccerTitle{
    font-size: 35px;
    margin-top: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
}

#soccerLife{
    font-size: 14px;
    margin-top: 90px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
}
